.canvaBG{
  background-image: url('../../assets/technobg.png'); 
  background-size: cover;
}
.canvaP{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
}
.canvaP img{
  border-radius: 15%;
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.2);
  border: 2px solid black;
}
.presentation, div p{
  color: aliceblue;
}
.presentation{
  font-size: 80px
}
div p{
  font-size: 30px;
}

@keyframes colorChange {
    0% {
      color: red;
    }
    45% {
      color: green;
    }
    80% {
      color: orange;
    }
    100% {
      color: red;
    }
  }
  
.presentation span {
 animation: colorChange 3s infinite; 
}
@media (max-width:800px) {
  .canvaP img{
    width: 22rem;
    height: 30rem;
  }
  .presentation{
    font-size: 60px
  }
  div p{
    font-size: 24px;
  }
  
}
@media (max-width:620px) {
  .canvaP img{
    width: 14rem;
    height: 24rem;
  }
}
@media (max-width:430px) {
  .presentation{
    font-size: 37px
  }
  div p{
    font-size: 18px;
  }
  .canvaP{
    padding: 100px;
  }
  .canvaP img{
    width: 11rem;
    height: 17rem;
  }
  @media (max-width:350px) {
    .presentation{
      font-size: 32px
    }
    div p{
      font-size: 17px;
    }
    .canvaP{
      padding: 100px;
    }
    .canvaP img{
      width: 7rem;
      height: 15rem;
    }
  }
}

