.skills{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skill-img{
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
    border-radius: 100px;
    background: -webkit-linear-gradient(-90.13deg,#354240 1.9%,#3025c2 97.5%);
}
@media (max-width:425px) {
    .skills{
        flex-direction: column;
        justify-content: center;
    }

}