.jorney {
  text-align: left;
  padding: 60px;
}
.jorney p {
  font-size: 20px;
  color: cadetblue;
}

@media (max-width:500px) {
    .jorney p {
        font-size: 10px;
    }
}
@media (max-width:415px) {
    .jorney p {
        font-size: 10px;
    }
}